<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Concert+One&family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cabin&family=Montserrat&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<title>Eat Da Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>