<div class="container">

<img src="/assets/imgs/burger.png" class="pic" alt="Burger" />

<div class="overlay">

<br>
<P>

</div>

</div>

<h1 class="text">Eat T Delicious Burger!</h1>

<br>

<br>

<br>

{{!-- <h2 align="center">Burgers that have been devoured!</h2> --}}

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="eat-burger" data-id="{{this.id}}">EAT!</button>
    </li>
    {{/unless}}
  {{/each}}
</ul>

{{!-- <h2 align="center">Burgers not devoured!</h2> --}}
{{!-- iterate over cheeseburgers with #each --}}
<ul align="center">
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2 class="add">Make yourself a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burg">New burger:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="dev">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> Not devoured
  </div>

  <br>

<div class="button">
  <button align="center" type="submit">Devoured the burger!</button>
   <button align="center" type="delete">Delete Burger</button>
</div>

</form>
